h1{
    text-align: center;
}
p{
    direction: rtl;
}
body{
    background-color: #12130F;
}
.btn-primary{
    background-color:#5b9279 ;
    border: none;
}
.btn-primary:hover{
    background-color:#47715E ;
}
.btn-outline-secondary{
    border-color:#9c8881 ;
    color:#9c8881;
}
.btn-outline-secondary:hover{
    background-color:#9c8881 ;
}
.sales_wrapper{
    display: flex;
    justify-content: center;
}

.sales_div{
    padding: 25px;
    margin: 10px 20px;
    border: 2px solid gray;
    border-radius: 20px;
}
.album-card-footer{
    flex-direction: row-reverse;
}
.album{
    padding: 5% 0;
    background-color: #12130F;
}
.nav-background{
    background-color: #9EE493;
}
.brand-link.navbar-brand { 
    color:white;
}
.navbar-brand:hover{
    transition: all 0.2s;

}
.brand-img{
    filter :invert(1);
}
.brand-link:hover .brand-img {
    filter :invert(0);
    transition: all 0.2s;
}
.album-cover{
    background-image: url(./images/album_cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
}    
.footer{
    background-color:black;
}
.card-title{
    color: #3e5d44;
}